<!--start: Page Title -->
<div id="page-title">
  <div id="page-title-inner">
    <!-- start: Container -->
    <div class="container">
      <h2><i class="ico-stats ico-white"></i>Question</h2>
    </div>
    <!-- end: Container  -->
  </div>  
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
  <!--start: Container -->
  <div class="container">
    <!--start: Row -->
    <div class="row">
      <div class="span8">
        <div class="title">
          <h3>Question:</h3>
          <%= link_to edit_question_path(@question), :class => "btn btn-mini", :style => "float:right;" do %>
            <i class="mini-ico-pencil"></i>
          <% end %>
          <%= link_to history_question_path(@question), :class => "btn btn-mini", :style => "float:right;" do %>
            <i class="mini-ico-list"></i>
          <% end %>
        </div>
        <h5>
        	<%= @question.title %>
        </h5>
        <div id="about">
          <div class="title">
            <h3>Answers</h3>
          </div>
          <div class="row">
            <ul class="nav nav-pills nav-stacked" style="float:left;">
              <% @question.answers.each do |answer| %>
                <%= link_to edit_answer_path(answer), :class => "btn btn-mini", :style => "float:right;" do %>
                  <i class="mini-ico-pencil"></i>
                <% end %>
                <%= link_to history_answer_path(answer), :class => "btn btn-mini", :style => "float:right;" do %>
                  <i class="mini-ico-list"></i>
                <% end %>
                <li>
                  <%= answer.description %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="span4">
        <!-- start: Sidebar -->
        <%= render "klass/sidebar" %>
        <!-- end: Sidebar -->
      </div>
    </div>
    <!--end: Row-->
  </div>
  <!--end: Container-->
</div>
<!-- end: Wrapper 
