<!-- start: Page Title -->
<div id="page-title">
  <div id="page-title-inner">
    <!-- start: Container -->
    <div class="container">
      <h2><i class="ico-stats ico-white"></i>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
    <!-- end: Container  -->
  </div>  
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
  <!--start: Container -->
  <div class="container">
    <!--start: Row -->
    <div class="row">
      <div class="span2"></div>
      <div class="span10">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal', :method => :put }) do |f| %>
          <div class="row">
            <%= devise_error_messages! %>
          </div>
          <div class="row">
            <div class="span6"><%= f.label :email %></div>
            <div class="span6"><%= f.email_field :email, :autofocus => true %></div>
          </div>

          <div class="row">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="span10">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          </div>

          <div class="row">
             <div class="span6"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></div>
             <div class="span6"><%= f.password_field :password, :autocomplete => "off" %></div>
          </div>

          <div class="row">
             <div class="span6"><%= f.label :password_confirmation %></div>
             <div class="span6"><%= f.password_field :password_confirmation, :autocomplete => "off" %></div>
          </div>

          <div class="row">
             <div class="span6"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></div>
             <div class="span6"><%= f.password_field :current_password, :autocomplete => "off" %></div>
          </div>
          
          <div><%= f.submit "Update" %></div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

        <%= link_to "Back", :back %>
      </div>
    </div>
    <!--end: Row-->
  </div>
  <!--end: Container-->
</div>
<!-- end: Wrapper  -->