<!-- start: Page Title -->
<div id="page-title">
  <div id="page-title-inner">
    <!-- start: Container -->
    <div class="container">
      <h2><i class="ico-stats ico-white"></i>Sign in</h2>
    </div>
    <!-- end: Container  -->
  </div>  
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
  <!--start: Container -->
  <div class="container">
    <!--start: Row -->
    <div class="row">
      <div class="span2"></div>
      <div class="span10">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
          <div class="row">
            <%= devise_error_messages! %>
          </div>
          <div class="row">
            <div class="span6"><%= f.label :email %></div>
            <div class="span6"><%= f.email_field :email, :autofocus => true %></div>
          </div>

          <div class="row">
             <div class="span6"><%= f.label :password %></div>
             <div class="span6"><%= f.password_field :password %></div>
          </div>

          <div class="row">
            <% if devise_mapping.rememberable? -%>
               <div class="span2" style="float:left;"><%= f.check_box :remember_me %></div>
               <div class="span10"><%= f.label :remember_me %></div>
            <% end -%>
          </div>
          
          <div><%= f.submit "Sign in" %></div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
    <!--end: Row-->
  </div>
  <!--end: Container-->
</div>
<!-- end: Wrapper  -->