<!--start: Header -->
<header>
  <!--start: Container -->
  <div class="container">
    <!--start: Row -->
    <div class="row">
      <!--start: Logo -->
      <div class="logo span3">
        <%= link_to image_tag('images.jpeg', :alt => "logo", :width => "170px", :height => "50px"), root_url, :class => "brand" %>
        <!-- <a class="brand" href="/"><img src="/assets/logo.png" alt="Logo"></a> -->
      </div>
      <!--end: Logo -->
      <!--start: Navigation -->
      <div class="span9">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active">
                  <%= link_to "Home", root_url %>
                </li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <% if user_signed_in? %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.email.truncate(10) %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                    </ul>
                  </li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to "Sign up", new_user_registration_path %>
                       <!--  <a >Sign up</a> -->
                      </li>
                      <li>
                        <%= link_to "Sign in", new_user_session_path %>
                        <!-- <a data-toggle="modal" data-target="#myModal">Sign in</a> -->
                      </li>
                    </ul>
                  </li>
                <% end %>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--end: Navigation -->
    </div>
    <!--end: Row -->
  </div>
  <!--end: Container-->			
</header>
<!--end: Header-->